<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Grade</mat-label>
        <mat-select [(value)]="selectedGrade" (selectionChange)="fetchSubjects(selectedGrade?.id)">
          <mat-option *ngFor="let grade of grades" [value]="grade">
            {{ grade.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subject</mat-label>
        <mat-select [(value)]="selectedSubject" [disabled]="!selectedGrade"
          (selectionChange)="fetchLessons(selectedSubject?.id)">
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lesson</mat-label>
        <mat-select [(value)]="selectedLesson" [disabled]="!selectedSubject">
          <mat-option *ngFor="let lesson of lessons" [value]="lesson">
            {{ lesson.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="loadLesson()" [disabled]="!selectedLesson">
        Load Lesson
      </button>
    </mat-card-content>
  </mat-card>

  
  <div class="content" *ngIf="pdfSrc">
    <div class="pdf-viewer">
      <app-pdf-viewer [pdfSrc]="pdfSrc"></app-pdf-viewer>
      <!-- <iframe [src]="getSafeResourceUrl(pdfSrc)" embedded="true"></iframe> -->
      <!-- <iframe src="AI_matrial_1.pdf" embedded="true"></iframe> -->
    </div>
    <div class="chat-window">
      <div class="chat-messages">
        <div *ngFor="let message of chatMessages" [ngClass]="{'user': message.isUser, 'ai': !message.isUser}">
          <div *ngIf="message.isUser">
            {{ message.text }}
          </div>
          <div *ngIf="!message.isUser" class="markdown-body">
            <markdown [data]="message.text"></markdown>
          </div>
        </div>
      </div>
      <div class="chat-input">
        <mat-form-field class="full-width">
          <mat-label>Your question</mat-label>
          <input matInput [(ngModel)]="userQuestion">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="askQuestion()">Ask</button>
        <button mat-raised-button color="warn" (click)="endChat()">End Chat</button>
      </div>
    </div>
  </div>
</div>